.container {
  width: 90%;
  margin: auto;
}


.main-section_active {
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6);
  background-size: 200% auto;
  color: white;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: 0.4s;
  cursor: pointer;
}

.main-section_active:hover {
  background-position: right center;
}

/* header styles */
.header {
  /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
  background: #fff;
  /* height: 40px;
    user-select: none;
    z-index: 1; */
}

.header .container {
  display: flex;
  align-items: center;
  gap: 60px;
  height: 40px;

}

/* .main-header_brand {
  display: inline-block;
} */

/* .main-navigation {
  display: inline-block;
  margin-left: 50px;
} */

.main-navigation_items {
  display: flex;
  list-style: none;
  gap: 20px;
}

.main-navigation_items .active a {
  color: #c07ead;
}

/* .main-navigation_item {
  display: inline-block;
  padding: 10px;
} */

.main-navigation_item a {
  text-decoration: none;
  color: #05364d;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  outline: none;
}

.main-navigation_item a:hover,
.main-navigation_item a:focus {
  color: #efb6df;
}

/*Form section  */
.form {
  padding: 120px 0;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #f5b6b6;
  border-radius: 4px;
  /* box-sizing: border-box; */
  margin-top: 5px;
  margin-bottom: 20px;
  outline: none;
}

.form-input {
  display: flex;
  gap: 10px;
}

input:focus,
textarea:focus {
  border-color: #1052e0;
}

/* footer styles */
footer {
  background-color: #05364d;
  color: white;
  padding: 40px 0;
  text-align: center;
}

.footer-items_img img {
  width: 3%;
}

.footer_items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 40px 0;
}

.footer-item a {
  text-decoration: none;
  color: white;
}

.footer-icon {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #1052e0;
  text-decoration: none;
}